# 데이터셋
/dataset

*.pkl

# dataset Dictionary files
!./dict_num_to_label.pkl
!./dict_label_to_num.pkl

# 기타 파일들
.*


*.tmp
stratified_k_fold_ensemble.py
/code/wandb
/code/results
/prediction
/code/best_model
/code/__pycache__